.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    color: aliceblue;
    transition: 0.3s;
    width: 15%;
    border: rebeccapurple 2px;
    margin-bottom: 20px;
    padding: 0 4px;
    background-color: #333;
  }

  
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  .flex-container {
    display: flex;
    margin-top: 8px;
    height: 280px;
    max-width: 99%;
    flex-wrap: wrap;
    justify-content: space-around;

  }

  @keyframes App-Spin {
    from  {transform: scale(1.1) rotate(0deg)}
    25%  {transform: scale(1) rotate(3deg)}
    50%  {transform: scale(0.9) rotate(0deg)}
    75%  {transform: scale(1.1) rotate(356deg)}
    100% {transform: scale(1) rotate(3deg)}
  }
  
  
  @media (prefers-reduced-motion: no-preference) {
    #tt0121766 {
      animation: App-Spin 5.2s linear 3.8765s infinite alternate;
    }
  }
